---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<h1>Thibault Le Ouay </h1>
			<p>
				Currently building OpenStatus
				<br /> Speed Matters ⚡
			</p>
 <h2>Useful links</h2>
			<ul>
				<li><a href="https://www.openstatus.dev">OpenStatus</a></li>
			    <li><a href="https://x.com/thibaultleouay">Twitter/X </a></li>
			    <li><a href="https://www.linkedin.com/in/thibault-le-ouay-ducasse/">LinkedIn</a></li>
			    <li><a href="https://www.strava.com/athletes/10276254">Strava</a></li>

			</ul>

		</main>
	</body>
</html>
