---
import "virtual:uno.css";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-dvh font-mono">
    <head>
        <BaseHead
            title={title ? title : SITE_TITLE}
            description={description ? description : SITE_DESCRIPTION}
        />
    </head>

    <body class="max-w-2xl mx-auto flex min-h-full flex-col p-2">
        <main class="mt-8">
            <slot />
        </main>
        <div class="mt-12 text-center space-y-2">
            <p class="text-sm text-gray-700">
                Found a typo send me <a
                    href="https://github.com/thibaultleouay/thibaultleouaydotdev"
                    class="hover:text-gray-500"
                    >PR</a
                >
            </p>
            <p class="text-xs">
                <a
                    href="https://bsky.app/profile/thibaultleouay.dev"
                    target="_blank"
                    rel="noreferrer"
                    class="font-medium underline decoration-1 underline-offset-4 text-gray-950 hover:text-gray-700">Bluesky</a
                > / <a
                    href="https://github.com/thibaultleouay"
                    target="_blank"
                    rel="noreferrer"
                    class="font-medium underline decoration-1 underline-offset-4 text-gray-950 hover:text-gray-700"
                >
                    GitHub
                </a> /
                <a
                    href="https://www.linkedin.com/in/thibault-le-ouay-ducasse/"
                    target="_blank"
                    rel="noreferrer"
                    class="font-medium underline decoration-1 underline-offset-4 text-gray-950 hover:text-gray-700">Linkedin</a
                >
            </p>
        </div>
    </body>
</html>
